# Binaries for programs and plugins
main
backend-filip-v
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
shared/
build/
dist/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
